.center.hero-unit
	%h1 Project Page One
	%h2 Here's a paragraph telling you why it's great

	%h2 What work from intellectual and cultural history means the most to you?
	=form_tag do
		=text_field_tag "q"
		=submit_tag "Explore", class: "btn btn-large btn-primary"
