# Ignore bundler config.
/.bundle

# Environment variables
.env

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/uploads

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# ruby versions and gemsets (rvm)
.ruby-gemset
.ruby-version

