%li
  %span.name= artobject.name
  %span.timestamp Created #{ time_ago_in_words(artobject.created_at) } ago.
  - if signed_in?
    - if current_user.admin?
      = link_to "delete", artobject, method: :delete, data: { confirm: "You sure?" }, title: artobject.name