@import "bootstrap";
@import "bootstrap-responsive";

/* Variables and mixins */

$grayMediumLight: #eaeaea;
$yellow: rgb(255,209,5);
$lightBlue: rgb(215,225,242);
$darkBlue: rgb(59,77,129);
$red: rgb(215,25,32);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-size: 18px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
	h1 {
	  margin-bottom: 10px;
	}
  text-align: center;
}



/* Typography */

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color:rgb(35,31,32)
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p, a, label, li, input[type=submit], input[type=text] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size:1em;
}

a {
  color: $red;
  cursor: pointer;
  &:hover {
    color: $darkBlue;
  }
}

/* Colors */


/* Header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


.gravatar {
  float: left;
  margin-right: 10px;
}

/* index pages */
ol.tile-container {
  margin:0px;
  list-style:none;
  & > li {
    margin-bottom: 20px;
  }
}

.text-container {
  display:block;
  float:left;
}

.image-container {
  width:40%;
  height:100%;
  display:block;
  float:left;
}



.flip {
  -webkit-perspective: 800;
  position: relative;
}

.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}

.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .card .face {
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  width:100%;
  height:100%;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
}

.flip .card .back {
  -webkit-transform: rotatex(-180deg);
}

/* Jasny file upload */

.btn-file {
  position: absolute;
  overflow: hidden;
  vertical-align: middle;
  margin-top: -25%;
  height:100%;
  width:40%;
  text-align:center;
  padding-top:5px;
  a {
    color:white;
    background:$darkBlue;
    padding:5px;
    text-decoration:none;
  }
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  direction: ltr;
}

.btn-file > span {
  cursor: pointer;
}

.fileinput .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.fileinput .thumbnail > img {
  display: inline-block;
  max-height: 100%;
  vertical-align: middle;
}

.fileinput .btn {
  vertical-align: middle;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}

.fileinput-inline .fileinput-controls {
  display: inline;
}

.fileinput-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.thumbnail {
  padding:0px;
  border:none;
}

.tab-content > .tab-pane {
  width: 100%;
  height:100%;
}
/* Art objects index */

.artobject {
  height:150px; /* This will require some changes in media query */
  #max-date-trigger {
    padding: 5px;
    line-height:1.75em;
  }
  .timestamp, .title p {
    color: #999;
  }
  .image-container {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    img {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      height:100%;
    }
    margin-left:-20%;
    background-color:$yellow;
  }
  .fileinput.fileinput-new {
    height:100%;
    width:100%;
    .fileinput-new.thumbnail {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      height:100%;
      width:100%;
    }
  }
  
  .text-container {
    background:$grayMediumLight;
    width:80%;
    height:100%;
    .inner-text-container {
      padding:0px 28% 0px 5px;
      margin-top:12%;
    }
    .form-text-container {
      padding: 5px 28% 0px 5px;
      p {
        margin-bottom:5px;
      }
      .date-fields {
        .date-field {
          float:left;
          width:48%;
          input[type="text"] {
            margin-bottom:5px;
          }
        }
        .date-field.min-date {
          margin-right:4%;
        }
      }
    }
  }
  
  .tag-container {
    background:$grayMediumLight;
    width:80%;
    height:100%;
  }
  .bottom-link-box {
    bottom:0;
    position:absolute;
    padding-left:10%;
    padding-bottom:5px;
  }
  .menu-tag-group {
    height:70%;
    & > div {
      float: left;
      display: block;
    }
    ul {
      list-style: none;
      margin:0px 0px 5px;
      border-bottom:none;
      padding-top:10px;
      li {
        & > a:hover, & > a:focus {
          background: $grayMediumLight;
          border:none;
        }
        width:20%;
      }
      li.active a {
        background-color: $darkBlue;
        color:white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        text-decoration: none;
        
      }
      li a {
        color: $darkBlue;
        text-decoration: none;
        border:none;
        text-align: center;
        margin:0px;
        width:20px;
        height:20px;
        margin:0 auto;
      }
    }
    
    .inner-tag-container {
      width:100%;
      height:100%;
      a {
        background:$red;
        color:white;
        line-height: 2em;
        padding:10px;
      }
      p, .tags {
        float:left;
        display:block;
      }
      .title {
        position:absolute;
        bottom:30px;
        left:-20px;
        text-align:center;
        max-width:100px;
      }
      .tags{
        float: left;
        display:block;
        margin-left:50px;
        width:80%;
        height:100%;
        textarea {
          height:80%;
        }
      }
    }
  }
  .empty-container {
    position:absolute;
    right:0px;
    top:0px;
    z-index:-1;
    height:100%;
    background:$yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width:40%;
    display:block;
    float:left;
    .to-front {
      margin-left:52%;
      height:100%;
      .circle-element {
        display:block;
        a, input[type=submit] {
          text-align:center;
        }
        input[type=submit], &.done a {
          color:white;
          background:$darkBlue;
          text-decoration:none;
          float:none;
          display:block;
        }
        input[type=submit] {
          padding:5px;
        }
        a {
          padding:5px;
          width:50px;
        }
        &.arrow {
          margin-top:30%;
          color:$red;
          i {
            margin-left:28%;
          }
          a {
            margin-left:8%;
          }
          
        }
        &.done, &.delete {
          margin-top:10%;
        }
        &.delete {
          margin-left:20px;
        }
      }
    }
  }
  .rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .rotate-other {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.top-bar {
  height:50px;
  margin-bottom:30px;
  div {
    float: left;
    display:inline-block;
  }
  #count {
    width:20%;
    h2 {
      margin:0px;
      line-height:3.25em;
    }
  }
  .pagination {
    width: 60%;
  }
}

.pagination {
  text-align:center;
}

.search-box {
  background: $yellow;
  padding:5px 20px;
  margin:50px 0px 50px;
  .input-append {
    width: 70%;
    input[type="submit"].add-on {
        padding:4px 5px;
        border-right:1px solid #fff;
        border-top:1px solid $darkBlue;
        border-bottom:1px solid $darkBlue;
        border-left:1px solid $darkBlue;
      }
    a.add-on {
      padding:3px 5px 5px;
      border-right:1px solid $darkBlue;
      border-top:1px solid $darkBlue;
      border-bottom:1px solid $darkBlue;
      border-left:none;
    }
    a.add-on, input[type="submit"].add-on {
      background: $darkBlue;
      color:#fff;
      width:20%;
      text-decoration:none;
      font-size:18px;
    }
  }
}

