/* Alerts */

.alert-danger, .alert-error {
  background-color: rgba(215,25,32, .2);
  color:#333;
  border-radius:0px;
  border:none;
  text-align:center;
}

.alert-success {
  background-color: rgba(59,77,129, .4);
  color:#333;
  border-radius:0px;
  border:none;
  text-align:center;
}

#error_explanation {
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  margin-bottom: 0px;
}