.image-uploader {
  $spinner-size: 30px;
  $input-height: 34px;

  padding: 10px;
  border: 1px dashed $grey-athens;
  position: relative;
  @include spinner($spinner-size);
  
  &.image-uploaded {
    padding: 0;
    border: none;
  }

  &.error {
    box-shadow: 0 0 2px $red;
    border: none;

    .form-upload-url input {
      background-color: transparent;
      box-shadow: none;
      @include placeholder { color: inherit; }
    }
  }

  .loader {
    @include size(100%);
    @include position(absolute, 0px 0 0 0px);
    background-color: $white;
    margin: 0;
    opacity: 0;
    @include transition(opacity $hover-animation-speed);
    .spinner {
      @include position(absolute, 50% 0 0 50%);
      margin-left: - ($spinner-size / 2);
      margin-top: - ($spinner-size / 2);
      display: block;
    }
  }

  &.loading .loader {
    opacity: 1;
    z-index: 1;
  }

  .error.message { position: relative; }

  .form-upload-url {
    @include outer-container;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-athens;
    position: relative;

    .url {
      margin: 0;
      @include span-columns(9);
      input {
        line-height: 1em;
        @include size(100% $input-height);
        float: none;
      }
    }
    .button-submit-url {
      @extend .button-grey;
      @include span-columns(3);
      padding: 6px 0;
    }
  }

  .form-upload-image {
    padding-top: 10px;
    position: relative;

    .button-upload-from-computer {
      display: block;
      width: 100%;
      height: $input-height;
      line-height: 1em;
    }
  }

  /* Uploaded image */
  .image {
    margin: 0;
    position: relative;

    img {
      display: block;
      margin: auto;
    }

    .caption {
      margin-top: 4px;
      color: $midlightgrey;
      @include font-size(0.9);

      textarea {
        text-align: center;
        @include placeholder {
          color: $fontlightgrey;
          font-family: $open-sans-lightitalic;
        }
      }
    }

    .button-delete-image {
      @extend .button-red;
      @include background-image-svg('icon-trash');
      background-size: cover;
      background-color: $white;
      background-position: center;
      @include size(24px);
      @include position(absolute, 10px 10px 0 0);
      z-index: 1;
    }
  }
}
